<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список друзей</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Список ваших друзей</h1>
        <ul class="list-group">
            {% for friend in friends %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'profile_with_id' friend.id %}">{{ friend.username }}</a>
                    <a href="{% url 'remove_friend' friend.id %}">Удалить</a>
                </li>
            {% empty %}
                <li class="list-group-item">У вас нет друзей.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Подключение Bootstrap JS и jQuery (необязательно, если не используете JS компоненты) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
